@font-face {
    font-family: 'Mandatory Plaything';
    src: url('../fonts/Mandatory Plaything.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mandatory Plaything', 'Arial', sans-serif;
    color: white;
    background-color: rgb(32, 32, 32);
    /* background: radial-gradient(circle, rgba(48, 48, 48, 1) 0%, rgba(32, 32, 32, 1) 100%); */

}

.blurry-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-links {
    display: flex;
    gap: 30px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
}

/* .nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
} */

.nav-link:hover:after {
    width: 100%;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .blurry-navbar {
        padding: 15px 15px;
    }
    .navbar-container {
        flex-direction: column;
        gap: 15px;
    }
    
    .navbar-links {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }
    
    .nav-link {
        font-size: 0.8rem;
    }
}