/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.cdnfonts.com/css/adero-trial');

@font-face {
    font-family: "Goffik";
    src: url("/fonts/Goffik-O.ttf");
}
/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
}
*::-webkit-scrollbar {
	position: relative;
	z-index: 100000;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	width: 5px;
	padding: 2px;
	border: 1px solid #09081F;
	border-radius: 15px;
	background-color: #e0e0e0;
}
/* --------------- */


/* Custom Elements */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Mona-Sans', sans-serif;
}
h1 {
	font-size: calc(3rem + 1.5vw);
	font-weight: 900;
}
h2 {
	font-size: 2.7rem;
}
p {
	font-family: 'Adero Trial', sans-serif;
	font-size: 0.6rem;
}
a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}
a.active {
	color: cyan;
}
.fg-white {
    color: #e0e0e0;
}
.fg-cyan {
	color: cyan;
}
.fg-grad-primary {
    background: rgb(222,132,255);
    background: linear-gradient(245deg, rgba(222,132,255,1) 0%, rgba(145,145,255,1) 47%, rgba(185,255,253,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hollow-txt1 {
	font-family: 'Goffik', sans-serif;
}
.mona-sans {
	font-family: 'Mona-Sans', sans-serif;
}
.txt-24 {
	font-size: 16px;
}
.fw-400 {
	font-weight: 400;
}
.fw-700 {
	font-weight: 700;
}
.fw-900 {
	font-weight: 900;
}
.btn-wrapper {
	margin-left: 15px;
}
.btn-primary {
	position: relative;
	min-width: 200px;
	height: 50px;
	min-height: 50px;
	background: linear-gradient(268.91deg, #8034EC -13.06%, #B94EF1 121.73%);
	overflow: hidden;
	box-shadow: 4px 3px 6px rgba(191, 191, 191, 0.25);
	border-radius: 15px;
	border: 0px;
	font-family: 'Mona-Sans', sans-serif;
	font-weight: 700;
	font-size: 0.7rem;
	line-height: 50px;
	color: #e0e0e0;
	cursor: pointer;
	z-index: 401;
}
.btn-primary::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	transition: 0.5s ease-in;
	z-index: -400;
}
.btn-primary:hover {
	border: 1px solid #FFFFFF;
	box-shadow: 4px 3px 6px rgba(191, 191, 191, 0.25);
	border-radius: 15px;
}
.btn-primary:hover::before {
	position: absolute;
	content: '';
	/* width: 400px;
	height: 400px; */
	transform: scale(30);
	border-radius: 100%;
	background-color: #080F37;
	z-index: -400;
}

/* Containers */
.v-flex {
    display: flex;
    flex-direction: column;
}
.gap-15 {
    gap: 15px;
}
.gap-30 {
    gap: 30px;
}
.gap-45 {
    gap: 45px;
}
.wrap {
	flex-wrap:wrap;
}
.align-center {
	align-items:center;
}
.justify-between {
	justify-content:space-between;
}
.justify-center {
	justify-content:center;
}
.justify-end {
	justify-content:flex-end;
}
.text-center {
	text-align:center;
}

.root {
	position: relative;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	overflow-x: overlay;
    background: #09081F;
	background: -webkit-radial-gradient(bottom right, #09081F, #15143B);
	background: -moz-radial-gradient(bottom right, #09081F, #15143B);
	background: radial-gradient(to top left, #09081F, #15143B);
}
/* Hide stuff on tablets and below */
.md-only {
    display: none;
}
/* --------------- */

/* Custom Cursor Styles */
#custom-cursor {
	display: none;
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: url('/media/custom-cursor.gif') no-repeat center;
    background-size: contain;
    pointer-events: none;
    transition: 100ms;
	z-index: 10000;
}

/* --------------- */

/* Pre-loader Styles */
#pre-loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: none;
}
.pre-loader-wrapper {
    height: 100%;
}
.pre-loader-wrapper > .container {
    height: 100%;
    width: 100%;
}
#pre-loader .heading {
    position: relative;
    font-family: "Goffik";
    font-size: 5rem;
    cursor: pointer;
    animation: fadeIn 1s ease-in;
}
#pre-loader .sub-heading {
    animation: fadeInDelayed 2s ease-in;
}
#pre-loader .description {
    animation: fadeInDelayed 4s ease;
}


/* --------------- */

/* Custom Nav */
.nav-item a {
    color: #e0e0e0;
}
.nav-item.active a {
    color: cyan;
}
.nav-item a:hover {
    color: cyan;
}
.navbar-toggler:focus, .navbar-toggler:focus-visible {
    box-shadow: none;
}
.navbar-toggler-icon {
    position: relative;
    color: white;
}
.navbar-toggler-icon::before, .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e0e0e0;
}
.navbar-toggler-icon::before {
    top: 30%;
}
.navbar-toggler-icon::after {
    bottom: 30%;
}
.navbar-nav {
    gap: 20px;
    transition: 1s;
}
.navbar-collapse {
    flex-grow: 0.6;
}
/* Header Styles */
.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
    height: 100px;
	backdrop-filter: blur(10px) brightness(80%);
	z-index: 9999;
}
.header-wrapper .navbar {
    height: 100px;
}
.header-wrapper .navbar-collapse {
    position: absolute;
    top: 100px;
    left: -15px;
    width: 100vw;
    background-color: #09081f78;
}
/* --------------- */

/* Hero Section Styles */
.hero-wrapper {
	position: relative;
	height: 100vh;
}
.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('/media/hero-bg2.png') no-repeat center 50%;
	filter: opacity(70%);
	background-size: 120%;
    z-index: 1;
}
.hero {
	z-index: 2;
    height: 100%;
    gap: 50px;
}
.socials-container {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 20vh;
	max-height: 320px;
	width: 60px;
	background: rgba(217, 217, 217, 0.2);
	z-index: 999;
}
.socials-container > * {
	width: 24px;
	height: 24px;
}
.socials-container img {
	width: 24px;
	height: 24px;
}
/* --------------- */

/* About Us */
.about-us {
	position: relative;
	height: 100vh;
	background: url("/media/about-section.png") center;
}
.about-us .content {
	height: 85%;
}
.about-us p {
	max-width: 600px;
}
.about-us .sponsors-container {
	height: 15%;
}
.about-us .sponsors-container .col-1 img {
	height: 64px;
	min-width: 96px;
	max-width: 96px;
	background-size: contain;
}

/* --------------- */

/* Responsive styles
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
	h1 {
		font-size: 3rem;
	}
	p {
		font-size: 1rem;
	}
    #custom-cursor {
        display: none;
    }
    #pre-loader .heading {
        font-size: 3.2rem;
    }
	.header-wrapper {
		width: 100%;
	}
} */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header-wrapper .navbar-collapse {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        background-color: inherit;
    }
    /* Hero Styles */
    .hero-bg {
        background: url('/media/hero-bg2.png') no-repeat center -400px;
        background-size: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 7rem;
    }
    .w-lg-25 {
        width: 25%;
    }
    #custom-cursor {
        display: block;
    }
    /* Hero Styles */
    .hero-bg {
        background: url('/media/hero-bg2.png') no-repeat center -500px;
        background-size: 100%;
    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Hero Styles */
    .hero-bg {
        background: url('/media/hero-bg2.png') no-repeat center -600px;
        background-size: 100%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* Hero Styles */
    .hero-bg {
        background: url('/media/hero-bg2.png') no-repeat center -800px;
        background-size: 100%;
    }
}